openapi: 3.2.0
info:
  title: Library of Congress loc.gov JSON Items API
  description: The loc.gov JSON API returns structured JSON or YAML representations of Library of Congress online collections, items, and search results. Append fo=json (or fo=yaml) to most loc.gov URLs to receive a structured response describing the page or resource.
  version: 1.0.0
  contact:
    name: Library of Congress
    url: https://www.loc.gov/apis/
servers:
- url: https://www.loc.gov
  description: Production
tags:
- name: Items
paths:
  /item/{itemId}/:
    get:
      operationId: getItem
      summary: Get Item
      description: Retrieve a single item record.
      tags:
      - Items
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
      - name: fo
        in: query
        schema:
          type: string
          default: json
      responses:
        '200':
          description: Item record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
components:
  schemas:
    Item:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        date:
          type: string
        url:
          type: string
          format: uri
        description:
          type: array
          items:
            type: string
        subject:
          type: array
          items:
            type: string
        original_format:
          type: array
          items:
            type: string
