openapi: 3.2.0
info:
  title: Library of Congress loc.gov JSON Collections API
  description: The loc.gov JSON API returns structured JSON or YAML representations of Library of Congress online collections, items, and search results. Append fo=json (or fo=yaml) to most loc.gov URLs to receive a structured response describing the page or resource.
  version: 1.0.0
  contact:
    name: Library of Congress
    url: https://www.loc.gov/apis/
servers:
- url: https://www.loc.gov
  description: Production
tags:
- name: Collections
paths:
  /collections/:
    get:
      operationId: listCollections
      summary: List Collections
      description: List the Library's digital collections.
      tags:
      - Collections
      parameters:
      - name: fo
        in: query
        schema:
          type: string
          default: json
      responses:
        '200':
          description: Collections list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionList'
  /collections/{name}/:
    get:
      operationId: getCollection
      summary: Get Collection
      description: Retrieve metadata and items for a specific collection.
      tags:
      - Collections
      parameters:
      - name: name
        in: path
        required: true
        description: Collection slug.
        schema:
          type: string
      - name: fo
        in: query
        schema:
          type: string
          default: json
      responses:
        '200':
          description: Collection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
components:
  schemas:
    Collection:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        item_count:
          type: integer
    CollectionList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Collection'
