openapi: 3.1.0
info:
  title: Library of Congress Chronicling America Bills Items API
  description: The Chronicling America API exposes historic American newspapers digitized through the National Digital Newspaper Program, providing search and metadata access to newspaper pages, issues, and titles.
  version: 1.0.0
  contact:
    name: Library of Congress
    url: https://chroniclingamerica.loc.gov/about/api/
servers:
- url: https://chroniclingamerica.loc.gov
  description: Production
tags:
- name: Items
paths:
  /item/{itemId}/:
    get:
      operationId: getItem
      summary: Get Item
      description: Retrieve a single item record.
      tags:
      - Items
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
      - name: fo
        in: query
        schema:
          type: string
          default: json
      responses:
        '200':
          description: Item record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
components:
  schemas:
    Item:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        date:
          type: string
        url:
          type: string
          format: uri
        description:
          type: array
          items:
            type: string
        subject:
          type: array
          items:
            type: string
        original_format:
          type: array
          items:
            type: string
