openapi: 3.2.0
info:
  title: Library of Congress loc.gov JSON Search API
  description: The loc.gov JSON API returns structured JSON or YAML representations of Library of Congress online collections, items, and search results. Append fo=json (or fo=yaml) to most loc.gov URLs to receive a structured response describing the page or resource.
  version: 1.0.0
  contact:
    name: Library of Congress
    url: https://www.loc.gov/apis/
servers:
- url: https://www.loc.gov
  description: Production
tags:
- name: Search
paths:
  /search/:
    get:
      operationId: searchAll
      summary: Search loc.gov
      description: Search across the loc.gov website and digital collections.
      tags:
      - Search
      parameters:
      - name: q
        in: query
        description: Search query string.
        schema:
          type: string
      - name: fo
        in: query
        description: Response format (json or yaml).
        schema:
          type: string
          enum:
          - json
          - yaml
          default: json
      - name: c
        in: query
        description: Number of results per page.
        schema:
          type: integer
          default: 25
      - name: sp
        in: query
        description: Page number of results.
        schema:
          type: integer
      - name: at
        in: query
        description: Limit response to specified attributes (comma-separated).
        schema:
          type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
components:
  schemas:
    SearchResults:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        pagination:
          type: object
          properties:
            current:
              type: integer
            total:
              type: integer
            of:
              type: integer
        facets:
          type: array
          items:
            type: object
    Item:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        date:
          type: string
        url:
          type: string
          format: uri
        description:
          type: array
          items:
            type: string
        subject:
          type: array
          items:
            type: string
        original_format:
          type: array
          items:
            type: string
